.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/lib/systemd/system/mongod.service

---------------------
本文来自 给我瓶叶小白 的CSDN 博客 ，全文地址请点击：https://blog.csdn.net/yjz_sdau/article/details/79278847?utm_source=copy
